body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  display: inline-flex;
  align-items: center;
  margin: 5px;
  font-weight: normal;
}

input[type="checkbox"] {
  margin-right: 5px;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

h3 {
  margin: 15px 0 10px;
}
